body{
    font-family: Montserrat;
    background-color: #ecebeb;
}
.form-control{
    min-height: 50px;
}
.step2{
    display: none;
}
.custom-control-label:hover{
    cursor: pointer;
}
.step1,.step2{
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
    padding: 1rem 1rem 2rem 1rem;
    background-color: white;
}
.linkS:hover{
    text-decoration: none;
}